body{
	background-color:#E1EFFC;
}

a{
	color: #C4E3F8;
}

p{
  	font-family: serif;
	font-size: 200%;
	color: #6E0309; 
  	text-align:center;

}

form{
  	font-family: serif;
	align="center";
	margin-left: 100px;
	margin-bottom: 75px;
}

div{
	background-color: #3E0108;
}

h1{
	 
    	text-align: "center";
    	color: #285783;
}


img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

	
