body{
	background-color:#E1EFFC;
}


p{
	font-size: 200%;
	color: #6E0309; 
  	text-align:center;
}

form{
	font-size: 125%;
	margin-left: 100px;
	color: #6E0309; 
}

div{
	background-color: #3E0108;
	text-color: color: #C4E3F8;
}

#home{
    	text-align: center;
    	color: #285783;
}

#else{
    	color: #285783;
	margin-left: 100px;
}


img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

	
