body{
	background-color:#E1EFFC;
	margin-left: 100px;
}

a{
	color: #C4E3F8;
}

p{
  	font-family: serif;
	font-size: 200%;
	color: #6E0309; 
  	text-align:center;
}

form{
  	font-family: serif;
	align="center";
	font-size: 150%;
}

div{
	background-color: #3E0108;
	margin-left: -100px;
}

#home{
    	text-align: center;
    	color: #285783;
}

#find{
    	color: #285783;
	margin-left: 100px;
}


img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

	
