body{
	background-color:#E1EFFC;
	margin-bottom: 100px;
}


p{
	font-size: 160%;
	color: #6E0309; 
  	text-align:center;
}
#account{
	font-size: 120%;
	color: #6E0309; 
  	text-align:left;
}

form{
	font-size: 125%;
	margin-left: 60px;
	color: #6E0309; 
}

div{
	background-color: #3E0108;
	color: #C4E3F8;
}

#home{
    	text-align: center;
    	color: #285783;
	margin-top: 60px;
}

#else{
    	color: #285783;
	margin-left: 60px;
	margin-top: 60px;
}

.navbar-default .navbar-brand {
  color: #E1EFFC;
}

.navbar-default .navbar-brand:hover {
  color: #191A1E;
}


img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

	
