body{
	background-color:#fcfdff;
}

p{
  font-family: serif;
	font-size: 200%;
  text-align:center;

}

form{
 font-family: serif;
align="center";
	margin-left: 100px;
	margin-bottom: 75px;
}

h1{
 align="center";
	margin-left: 100px;
}
