body{
	background-color:#E1EFFC;
}

p{
  font-family: serif;
	font-size: 200%;
	color: #285783;
  text-align:center;

}
p1{
	font-size: 300%;
}

form{
  font-family: serif;
align="center";
	margin-left: 100px;
	margin-bottom: 75px;
}

h1{
 text-align="center";
	margin-left: 100px;
}
h2{
	 
    text-align: center;
    color: #0F1014;
}


img{
	  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

