{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block content %}
<h1> Find Your Car! </h1>
  
  <br>
	<p>UMMMMMMMMMMMMMMMMM</p>
<!-- <form action="/find" method="POST">
  
  Question 1:Select the transmission you want<br>
  <input type="radio" name="q1" > automatic  <br>
  <input type="radio" name="q1" > manual  <br>
  <br>
  
  Question 2:How many cylinders do you want?<br>
  <input type="radio" name="q2" > 4 cylinders <br>
  <input type="radio" name="q2" > 6 cylinders <br>
  <input type="radio" name="q2" > 8 cylinders <br>
  <input type="radio" name="q2" > don't know <br>
  <br>
  
  Question 3:Do you want a hybrid?<br>
  <input type="radio" name="q3" > yes <br>
  <input type="radio" name="q3" > no<br>
  <input type="radio" name="q3" > don't mind <br>
  <br>
  
  Question 4:Number of forward gears<br>
  <input type="radio" name="q4" > 2 <br>
  <input type="radio" name="q4" > 3<br>
  <input type="radio" name="q4" > 4<br>
  <input type="radio" name="q4" > 5<br>
  <input type="radio" name="q4" > 6<br>
  <input type="radio" name="q4" > 7<br>
  <input type="radio" name="q4" > don't know <br>
  <br>
  
  Question 5:Select your driveline preference<br>
   <input type="radio" name="q5" >front wheel drive  <br>
  <input type="radio" name="q5" > rear wheel drive <br>
  <input type="radio" name="q5" > all wheel drive  <br>
  <br>
  
  Question 6:Select the manufacturers you prefer<br>
        	{{ manufacturers}}
  Question 7:What is the oldest year car you want?<br>
  
  Question 8:Do you wnat a large, medium, or small car?<br>
   <input type="radio" name="q8" > large <br>
  <input type="radio" name="q8" > medium<br>
  <input type="radio" name="q8" > small <br>
  <br>
  
  Question 9:How important is a high highway mpg to you?<br>
  <input type="radio" name="q9" > very important  <br>
  <input type="radio" name="q9" > important<br>
  <input type="radio" name="q9" > not important <br>
  <br>
   
  
  Question 10: How important is a high city mpg to you?<br>
  <input type="radio" name="q10" > very important  <br>
  <input type="radio" name="q10" > important<br>
  <input type="radio" name="q10" > not important <br>
  <br>
  
  Question 11:What type of fuel do you want?<br>
  {{ fuel_type }}
  
<!--   <input type="submit"> -->
	<!-- </form> -->
   
{% endblock %}


