{% extends "layout.html" %}

{% block title %}Find Your Car{% endblock %}

{% block content %}

  <div>
  <h1> Find Your Car!</h1>
  <br>

 <form action="/account" id="questions">
  
  Select a transmission type<br>
  <input type="radio" name="q1" > Automatic  <br>
  <input type="radio" name="q1" > Manual  <br>
  <br>
  Select a minimum number of cylinders<br>
  {{ cylinder }}
  <input type="radio" name="q2" value`="idk" > Don't Know<br>
  <br>
  Would you like hybrid recommendations?<br>
  <input type="radio" name="q3" > Yes<br>
  <input type="radio" name="q3" > No<br>
  <br>
  Select a minimum number of forward gears<br>
  {{ forward_gears }}
  <br>
  Select your driveline preferences<br>
  <input type="radio" name="q5" > Front Wheel Drive<br>
  <input type="radio" name="q5" > Rear Wheel Drive<br>
  <input type="radio" name="q5" > All Wheel Drive<br>
  <br>
  Select your preferred manufacturers<br>
  {{ manufacturers}}
  <br>
  Select your size preference<br>
   <input type="radio" name="q8" > Large<br>
  <input type="radio" name="q8" > Medium<br>
  <input type="radio" name="q8" > Small<br>
  <br>
  How important is a high mpg to you?<br>
  <input type="radio" name="q9" > Very Important<br>
  <input type="radio" name="q9" > A Little Important<br>
  <input type="radio" name="q9" > Not Important<br>
  <br>
  Select your fuel preferences<br>
  {{ fuel_type }}
  <br>
<input type="submit">
	</form> 
   </div>
{% endblock %}


