{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block content %}
<h1> Find Your Car! </h1>
  
  <br>
	<p>yUMMMMMMMMMMMMMMMMM</p>
 <form action="/find" method="POST">
  
  Select a transmission type<br>
  <input type="radio" name="q1" > Automatic  <br>
  <input type="radio" name="q1" > Manual  <br>
  <br>
  Select a minimum number of cylinders<br>
  {{ cylinder }}
  <input type="radio" name="cylinder" value`="idk" > Don't Know<br>
  <br>
  Would you like hybrid recommendations?<br>
  <input type="radio" name="q3" > Yes<br>
  <input type="radio" name="q3" > No<br>
  <br>
  Select a minimum number of forward gears<br>
  {{ forward_gears }}
<!--   <input type="radio" name="q4" > 2 <br>
  <input type="radio" name="q4" > 3<br>
  <input type="radio" name="q4" > 4<br>
  <input type="radio" name="q4" > 5<br>
  <input type="radio" name="q4" > 6<br>
  <input type="radio" name="q4" > 7<br>
  <input type="radio" name="q4" >  Don't Know<br> -->
  <br>
  Select your driveline preferences<br>
  <input type="radio" name="q5" > Front Wheel Drive<br>
  <input type="radio" name="q5" > Rear Wheel Drive<br>
  <input type="radio" name="q5" > All Wheel Drive<br>
  <br>
  Select your preferred manufacturers<br>
  {{ manufacturers}}
  <br>
  Do you prefer a large, medium, or small car?<br>
   <input type="radio" name="q8" > Large<br>
  <input type="radio" name="q8" > Medium<br>
  <input type="radio" name="q8" > Small<br>
  <br>
 How important is a high highway mpg to you?<br>
  <input type="radio" name="q9" > Very Important<br>
  <input type="radio" name="q9" > A Little Important<br>
  <input type="radio" name="q9" > Not Important<br>
  <br>
  How important is a high city mpg to you?<br>
  <input type="radio" name="q9" > Very Important<br>
  <input type="radio" name="q9" > A Little Important<br>
  <input type="radio" name="q9" > Not Important<br>
  <br>
  What is your fuel preference?<br>
  {{ fuel_type }}
  <br>
<input type="submit">
	</form> 
   
{% endblock %}


