{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
  <h1>Welcome to CarSmart</h1>
  <p>Here at CarSmart, we recognize the struggles that come with <br> finding a car that suits your needs. 
    So we're helping <br> to streamline the process by creating a simple, 15 minute quiz.  We hope that <br>
    website will make choosing a car easier for you, and that you'll find a car you love</p>
<img src="https://jaerickson.github.io/dance/carsmain.jpg" alt="a bunch of weird cars ">

  
{% endblock %}
