{% extends "layout.html" %}
{% block title %}Goodbye!{% endblock %}

{% block content %}
  <p>{{ message }}</p>
<h2 id="home">Welcome to CarSmart</h2>
<p>Here at CarSmart, we recognize that with such an abundance of choice,
  <br> it's often difficult to find a car that suits your needs. 
  <br> So we're here to help you streamline the process through our simple, 15 minute quiz.
  <br> With easy and practical questions, we'll search through a database of over 5,000 cars to identify 
  <br> the vehicles that best match your needs, so you don't have to.
  <br> We hope our site helps you find the best car for you, and that you'll find the car you love.</p>
  <br>
<img src="{{url_for('static',filename='carsmain.jpg')}}" alt="cars4u">

{% endblock %}
