	  <nav class="navbar navbar-inverse">
		  <div class="container-fluid">
			  <div class="navbar-header">
				  <a class="navbar-brand" href=".">AP Vocabulary Quizzes</a>
			  </div>
			<ul class="nav navbar-nav">
				  <li {% if active_tab == "home" %} class="active" {% endif %}><a href=".">Home</a></li>
				  <li {% if active_tab == "lang" %} class="active" {% endif %}><a href="lang">AP Lang Practice</a></li>
				  <li {% if active_tab == "chem" %} class="active" {% endif %}><a href="chem">AP Chem Practice</a></li>
			</ul>
		  </div>
	  </nav>
